/*页眉*/
.header {
    background-color: rgb(47, 144,185 );
    padding: 20px;/*内边距*/
    display: flex;
    }
    left {
        font-size: 25px;/*左边字体大小*/
        font-weight: 600;
        display: inline-block;/*同一行*/
        line-height: 20px;/*行高*/
        width: 700px;
        height: 30px;

    }
    right {
        font-size: 15px;
        display: inline-block;
        color: white;
    }