
.slide{
    width:400px;
    height:200px;
    position: absolute;
    left:20%;
    top:55%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: white;
}
.slide input{
    position:fixed;
    bottom:10px;
}
#img1{
    left:20px;
}
#img2{
    left:40px;
}
#img3{
    left:60px;
}

.images{
    width:3200px;
    height:480px;
    display:flex;
}
.image{
    width:400px;
    height:200px;
    transition: 0.8s linear;
}
.image img{
    height:100%;
}
#img1:checked ~ .first{
    margin-left:0;
}
#img2:checked ~ .first{
    margin-left:-240px;
}
#img3:checked ~ .first{
    margin-left:-480px;
}
body {
    margin: 0;
}
/*页眉*/
.header {
    background-color: rgb(47, 144,185 );
    padding: 20px;/*内边距*/
    }
    left {
        font-size: 25px;/*左边字体大小*/
        font-weight: 600;
        display: inline-block;/*同一行*/
        line-height: 20px;/*行高*/
        width: 700px;
        height: 30px;

    }
    right {
        font-size: 15px;
        display: inline-block;
        color: white;
    }
/*导航栏*/
.navbar {
background-color:rgb(47, 144, 185);
list-style-type: none;
text-align: center;
margin: 0;
padding: 0;

}


/* 设置 topnav 链接的样式 */
.navbar a {
display: inline-block;
font-size: 20px;
padding: 10px 62px 10px 62px;
text-decoration: none;
text-align: center;
color: #ffffff;
  
}

/* 改变鼠标悬停时的颜色 */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none
}
/*文字滚动*/
table, th {
    border: 1px solid black;
    }

table {
width: 100%;
border-collapse: collapse;
   }
/*文本框内容*/
.textborder1{
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 200;
  border: 5px solid rgb(0, 0, 0);
  padding: 40px;
  margin: 5px;
  position: absolute;
  left:55%;
  top:35%;
}
  tit1{
      font-size: 30;
      font-weight: 600;
      text-align: center;
      }
 txt{
     letter-spacing: 3px;
 }
/*.textborder2{
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 200;
  border: 5px solid rgb(0, 0, 0);
  padding: 40px;
  margin: 5px;
  position: absolute;
  left:55%;
  top:150%;
}
   tit2{
  font-size: 30;
  font-weight: 600;
  text-align: center;
  }
   txt2{
 letter-spacing: 2px;
 font-size: 24;
 }
  a1{
  font-size: 18;
  color: rgb(21, 167, 224);
  
  }*/
 *{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }*
/*下面一根线*/
  .out1 {
    border-bottom: 1px solid #000;
    height: 350px;
    margin-top: 360px;

  }
  .out2 {
    border-bottom: 1px solid rgb(0, 0, 0);
    height: -300px;
    margin-top: 200px;

  }

  .inner_left1{

    float: left;
    display: inline-block;
    width: 49%;
    height: 394px;
  }
  .inner_right1{

    float: right;
    display: inline-block;
    width: 49%;
    height: 200px;
  }
  .inner_left2{

    float: left;
    display: inline-block;
    width: 49%;
    height: 100px;
  }
  .inner_right2{

    float: right;
    display: inline-block;
    width: 49%;
    height: 100px;
  }
  /*图像高度*/
  .top{

    height: 1px;
    text-align: center;
  }
/*横线上的字*/
  .top span {

    display: block;     /*设置为块级元素会独占一行形成上下居中的效果*/

    font-size: 2em;

    color: rgb(0, 0, 0);

    position: relative;   /*定位横线（当横线的父元素）*/

  }
/*上横线*/
  .top span:before, .top span:after {

    content: '';                 /*CSS伪类用法*/

    position: absolute;         /*定位背景横线的位置*/

    top: 49%;

    background: rgb(0, 0, 0);       /*宽和高做出来的背景横线*/

    width: 46%;

    height: 1px;/*控制粗细*/

  }
  .top span:before{

    left: 0%;        /*调整背景横线的左右距离*/

  }

  .top span:after {

    right: 0%;

  }
  .footer{
    font-size: 16px;
  }
  